stages:
  - lint
  - test
  - test-cluster
  - merge
  - release

.onlys_changes: &only_changes
  changes:
    - "molecule/**/*"
    - "defaults/**/*"
    - "handlers/**/*"
    - "meta/**/*"
    - "tasks/**/*"
    - "templates/**/*"
    - "vars/**/*"
    - "*.yaml"
    - "*.yml"

lint:
  tags:
    - kvm
  stage: lint
  script:
    - echo "Running on environment ${ENV_KIND}"
    - docker run --env-file molecule/commun/env_${ENV_KIND}.sh -v $(pwd):/sources/kubernetes-bare-metal -w /sources/kubernetes-bare-metal --rm ulrichg/molecule-vagrant-libvirt:latest lint


test-centos8:
  tags:
    - kvm
  stage: test
  except:
    refs:
      - schedules
  only:
    <<: *only_changes
  script:
    - echo "Running on environment ${ENV_KIND}"
  timeout: 3 hours 30 minutes

test-debian:
  tags:
    - kvm
  stage: test
  except:
    refs:
      - schedules
  only:
    <<: *only_changes
  script:
    - echo "Running on environment ${ENV_KIND}"
  timeout: 3 hours 30 minutes

test-one-master-2-nodes:
  tags:
    - kvm
  stage: test-cluster
  except:
    refs:
      - schedules
  only:
    <<: *only_changes
  script:
    - echo "Running on environment ${ENV_KIND}"
  timeout: 3 hours 30 minutes

#test-3-masters-2-nodes:
#  tags:
#    - kvm
#  stage: test
#  except:
#    refs:
#      - schedules
#  only:
#    <<: *only_changes
#  script:
#    - echo "Running on environment ${ENV_KIND}"
#    - docker run --env-file molecule/commun/env_${ENV_KIND}.sh -v $(pwd):/sources/kubernetes-bare-metal -w /sources/kubernetes-bare-metal -v ~/.vagrant.d/boxes/:/root/.vagrant.d/boxes/ -v /var/run/libvirt/libvirt-sock:/var/run/libvirt/libvirt-sock --dns 192.168.121.1 --dns 10.0.4.1 --network host --rm ulrichg/molecule-vagrant-libvirt:latest test -s cluster3masters
#  timeout: 3 hours 30 minutes

new-tag:
  stage: release
  image:
    name: marcelocorreia/semver
    entrypoint: [""]
  tags:
    - docker
  only:
    <<: *only_changes
    refs:
      - master
  except:
    refs:
      - tags
      - schedules
  script:
    - git config user.email "${GITLAB_USER_EMAIL}"
    - git config user.name "${GITLAB_USER_NAME}"
    - git remote add api-origin https://oauth2:${GITLAB_ACCESS_TOKEN}@gitlab.com/${CI_PROJECT_PATH}
    - if [ -z "$(git tag --points-at HEAD)" ] ; then git tag $(semver -c -i patch $(git describe --tags --abbrev=0)); fi
    - git push api-origin --tags

publish:
  stage: release
  image:
    name: ansible/ansible-runner
    entrypoint: [""]
  tags:
    - docker
  only:
    refs:
      - tags
  script:
    - ansible-galaxy login --api-key "${GALAXY_TOKEN}" --github-token "${GITHUB_TOKEN}"
    - ansible-galaxy import incubateur-pe kubernetes
