- name: Prints the upgrade plan
  debug: msg="{{ upgrade_plan.split('\n') }}"
  delegate_to: localhost
  run_once: yes

- pause:
    prompt: "Please check in the plan above if manual upgrades are required, cancel if need be and execute the required update before restarting the play"
  when: kubernetes_confirm_upgrade

- name: Upgrade the first master
  include_tasks: upgrade_node.yml
  when: 'inventory_hostname == groups["kubernetes_masters"][0]'

- name: Upgrade other masters
  include_tasks: upgrade_node.yml
  with_items: "{{ groups['kubernetes_masters'] }}"
  when: 'hostvars[host_item].inventory_hostname == inventory_hostname and inventory_hostname != groups["kubernetes_masters"][0]'
  loop_control:
    loop_var: host_item

- name: Update kubectl and kubelet on masters
  include_tasks: upgrade_kubelet_kubectl.yml
  with_items: "{{ groups['kubernetes_masters'] }}"
  when: 'hostvars[host_item].inventory_hostname == inventory_hostname'
  loop_control:
      loop_var: host_item

- name: Upgrade workers
  include_tasks: upgrade_node.yml
  with_items: "{{ groups['kubernetes_workers'] }}"
  when: 'hostvars[host_item].inventory_hostname == inventory_hostname'
  loop_control:
    loop_var: host_item

- name: Get new kubectl configuration on localhost
  fetch:
    src: /etc/kubernetes/admin.conf
    dest: "{{ k8s_kubeconfig }}"
    flat: yes
  run_once: yes
